.buttonContainer {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.optionButton {
   padding: 10px;
   width: 150px;
   border-radius: 8px;
   cursor: pointer;
}

.optionButton:hover {
   background-color: aquamarine;
}